.paste-box {
    /**
     * Navigation bars combined height = 160
     * Vertical padding combined height = 30
     */
     width: 100%;
     height: calc(100vh - 170px - 30px);
      
     border: none;
  
     font-size: 16px;
     font-family: 'Courier New', 'Ubuntu Mono', monospace;
     line-height: 24px;
  
     padding: 15px;
     margin:0;   
  }
  
  .paste-box:focus {
    outline: none;
  }